
extends layout

block append vars
  - bodyclass = 'article-detail'
  - pageType = 'article'

block prepend title
  | #{ page.title + " - "}

block content
  div.row
    div.col-lg-12
      h1.page-header= page.title
      
      article.article
        section.content!= typogr(page.html).typogrify()

